#about{
    article {
        margin: 100px 0;
    }
    .mugshot {
        margin: 0 auto;
        width: 75%;
        background: url(../images/mugshot.jpg) center no-repeat;
        background-size: cover;
        border-radius: 50%;
        padding-bottom: 75%;
    }
}