#contact{
    background-color: lightgray;
    .contact-intro{
        width: 300px;
        padding: 50px 0;
    }
    .social-media{
        i{
            font-size: 60px;
            margin-right: 25px;
        }
    }
}