#projects{
    background-color: lightgray;
    .project{
        display: table;
        padding: 0 50px 25px;
        .project-thumbnail{
            text-align: center;
            .thumbnail{
                border-radius: 2px;
                border: 4px solid white;
                margin: 25px auto;
                width: 75%;
            }
        }
        .project-description{
            a{
                margin-right: 10px;
                font-size: 40px;
            }
        }
    }
}